name: Java CI with Maven

on:
  push:
    branches: [ "testlib" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Check if secret exists
        run: |
          if [ -z "${{ secrets.PACKAGES_READ_TOKEN }}" ]; then
            echo "Secret PACKAGES_READ_TOKEN is not set"
          else
            echo "Secret PACKAGES_READ_TOKEN is set (length: ${#GITHUB_TOKEN})"
          fi
          echo "GITHUB_ACTOR: $GITHUB_ACTOR"
          echo "GITHUB_ACTOR: $GITHUB_TOKEN"
        env:
          GITHUB_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}
      - name: Build with Maven
        run: mvn clean package
        env:
          # By default, setup-java maps the server-password to GITHUB_TOKEN env var
          GITHUB_TOKEN: ${{ secrets.PACKAGES_READ_TOKEN }}